* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameboard {
    box-sizing: border-box;
    width: 50vh;
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    gap: 8px;
}

.item {
    border: 2px solid black;
    font-size: 48px;
    font-weight: bold;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.item:hover {
    transform: scale(1.1);
}