* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    box-sizing: border-box;
    padding: 64px;
    width: 100vw;
    height: 100vh;
    font-family: cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
}

#main-heading {
    font-size: 48px;
}

#gameboard {
    box-sizing: border-box;
    background-color: black;
    width: 50vh;
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    gap: 8px;
}

.item {
    background-color: white;
    font-size: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
